@import url(index.css);

/* ABOUT SECTION */
#about-container {
    padding: var(--margin);
    text-align: left !important;
}

#about-img {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: none;
    border: 4px solid white;
    border-radius: 4px;
    float: left;
    margin-right: 4rem;
    margin-bottom: 2rem;
}

.about-text {
    max-width: 1200px;
    padding-bottom: 10rem;
}

#about-section p {
    margin-top: 0;
    max-width: 1200px;
}


@media (max-width: 1875px) {
    .about-text {
        max-width: 80vw;
    }
}


@media (max-width: 1000px) {
    .about-text {
        max-width: 90vw;
    }
    .about-section {
        margin-top: 2rem;
    }
    #about-img {
        width: 40vw;
        height: 40vw;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 750px) {
    .about-section h2 {
        font-size: 2rem;
    }
}
